In [2]:
# Instale pandas por que no me agarra la dependencia :)
#!pip install pandas

In [3]:
# Instale pandas por que no me agarra la dependencia :)
#!pip install pandas matplotlib

In [4]:
#Instalar libreria para pandas
#!pip install pandas emoji

In [5]:
#Instalar libreria para pandas
#!pip install pandas nltk
#!pip install nltk

In [6]:
#Instalar libreria para pandas
#!pip install pandas textblob

In [2]:
import pandas as pd
import re
import emoji
import nltk
from nltk.tokenize import word_tokenize
from nltk.stem import WordNetLemmatizer
from textblob import TextBlob

from nltk.corpus import wordnet
lemmatizer = WordNetLemmatizer()

In [3]:
#Carga de la data
netflix_data = pd.read_csv('../data/Netflix.csv')

In [4]:
netflix_data.describe()

             score
count  10000.00000
mean       3.13450
std        1.82963
min        1.00000
25%        1.00000
50%        4.00000
75%        5.00000
max        5.00000

In [5]:
netflix_data.shape

(10000, 3)

In [6]:
#Tipos de datos
netflix_data.dtypes

reviewId    object
content     object
score        int64
dtype: object

In [12]:
# Primeras filas 
netflix_data.head()

,reviewId,content,score
0,d1e779ab-6394-44ed-865c-84f2e4d36014,Satisfied with overall experience. I do hope a...,3
1,d20cdffc-75c8-4727-860a-03b8975e4616,"Best movies,best experience, and user-friendly.",5
2,a80d26a2-8b81-422b-96b1-f45554c73810,Bast of the bast,5
3,0a1f57f2-6da6-422e-a87a-393c2b51cfe6,cant download,1
4,ebd9f39a-f280-4ab1-9944-9cea0c3bbb1b,"Netflix CEO, have you seen your new smart tv i...",1

In [13]:
# Ver informaci√≥n de la Data
netflix_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   reviewId  10000 non-null  object
 1   content   9999 non-null   object
 2   score     10000 non-null  int64
dtypes: int64(1), object(2)
memory usage: 234.5+ KB

In [14]:
# Verificar valores nulos
netflix_data.isnull().sum()

reviewId    0
content     1
score       0
dtype: int64

In [15]:
# Verificar si hay valores duplicados
netflix_data.duplicated().sum()

np.int64(0)

In [16]:
# Eliminar filas con valores nulos
data = netflix_data.dropna()
print(f"Duplicados antes de eliminar: {netflix_data.duplicated().sum()}")

Duplicados antes de eliminar: 0

In [17]:
# Eliminar datos duplicados
netflix_data = netflix_data.drop_duplicates(subset=["content"])

In [18]:
netflix_data.columns

Index(['reviewId', 'content', 'score'], dtype='object')

FUNCIONES PARA LIMPIAR LA DATA

In [19]:
# Eliminar valores nulos en content
netflix_data = netflix_data.dropna(subset=["content"])

In [20]:
# Funci√≥n para eliminar s√≠mbolos, caracteres especiales y URLs
def Trash(texto):
    texto = re.sub(r"http\S+|www\S+", "", texto)  # Eliminar URLs
    texto = re.sub(r"[^a-zA-Z0-9\s]", "", texto)  # Eliminar caracteres especiales
    return texto

In [21]:
# Convertir emojis a texto
def emojiText(texto):
    return emoji.demojize(texto, delimiters=(" ", " ")).replace("_", " ")

netflix_data["content"] = netflix_data["content"].apply(Trash)
netflix_data["content"] = netflix_data["content"].apply(emojiText)
netflix_data["content"] = netflix_data["content"].str.lower()

In [22]:
# Convertir a min√∫sculas
netflix_data["content"] = netflix_data["content"].str.lower()

In [23]:
def procesar_texto(texto):
    tokens = word_tokenize(texto)  # Tokenizaci√≥n
    tokens = [lemmatizer.lemmatize(word) for word in tokens]  # Lematizaci√≥n
    return " ".join(tokens)

In [ ]:
# Correcci√≥n ortogr√°fica
from textblob import Word

def corregir_ortografia(texto):
    palabras = texto.split()
    palabras_corregidas = []
    for palabra in palabras:
        blob_word = Word(palabra)
        spellcheck = blob_word.spellcheck()
        mejor_opcion, confianza = spellcheck[0] 
        if confianza < 0.8:  
            palabras_corregidas.append(mejor_opcion)
        else:
            palabras_corregidas.append(palabra)
    return " ".join(palabras_corregidas)

In [ ]:
# Truncamiento de texto 
#def truncar_texto(texto, max_palabras=50):
   #palabras = texto.split()
   # return " ".join(palabras[:max_palabras])

def truncar_texto(texto, max_palabras=50):
    palabras = texto.split()
    return " ".join(palabras[:max_palabras])

In [ ]:
netflix_data["content"] = netflix_data["content"].apply(procesar_texto)
#netflix_data["content"] = netflix_data["content"].apply(corregir_ortografia)
netflix_data["content"] = netflix_data["content"].apply(truncar_texto)

In [28]:
# CSV limpio
netflix_data.to_csv("../data/Netflix_limpio.csv", index=False)

PRUEBA DATA NETFLIX LIMPIO

In [ ]:
#Carga de la data
netflix_limpio = pd.read_csv('../data_process/Netflix_Clean.csv')

In [8]:
# Verificar valores nulos
netflix_limpio.isnull().sum()

reviewId      0
content     140
score         0
dtype: int64

In [10]:
# Eliminar valores nulos en content
netflix_limpio = netflix_limpio.dropna(subset=["content"])

In [11]:
# CSV limpio
netflix_limpio.to_csv("../data/Netflix_Clean.csv", index=False)

PRUEBA DE netflix_Clean

In [ ]:
#Carga de la data
netflix_limpio2 = pd.read_csv('../data_process/Netflix_Clean.csv')

In [14]:
# Verificar valores nulos
netflix_limpio2.isnull().sum()

reviewId    0
content     0
score       0
dtype: int64